body {
  font-family: "Arial";
	font-size: 16px;
	background-color: #eeeeee;
}
nav {
  position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 5px 0px;
	margin-top: 0px;
	display: block;
	border-bottom-style: solid;
	border-color: #000000;
	border-width: 4px;
	background-color: #8a8aff;
	height: 23px;
}
nav li {
	float: left;
	text-align: center;
	width: 20%;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  overflow: hidden;
}
nav li a {
	text-decoration: none;
	font-size: 20px;
}
header {
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0;
}
.currentPage {
	font-weight: bold;
}
a {
  color: #0000ff;
  display: block;
}
header h1 {
  margin-bottom: 0;
}
hr {
  background-image:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
  background-image:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
  background-image:-ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
  background-image:linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
  height: 1px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
article p {
  margin-top: 0;
  line-height: 115%;
  letter-spacing: 1px;
}
#content {
  float: left;
}
.currentPage a {
  text-decoration: none;
  color: #000000;
  cursor: text;
}
div {
  float: left;
  text-align: center;
  display: block;
}
div img {
  display: block;
}
#authorpic {
  height: 300px;
  width: 209px;
}
#bookpic {
  height: 300px;
  width: 185px;
}
#morecontent {
  float:left;
}
ol li {
  letter-spacing: 1px;
  line-height: 115%;
}
article li {
  letter-spacing: 1px;
  line-height: 115%;
}
